* {
    box-sizing: border-box;
}

body, main, footer {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: space-around;
    max-height: calc(100vh - 2em);
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    height: 2em;
    width: 100%;
}

section {
    border: 1px solid black;
    margin: 2em;
    padding: 1em;
    border-radius: 0.5em;
    flex: 1 1 0px;
    width: 0;
    max-height: 95%;

    /* Overflow management */
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

section > div > header {
    font-size: 150%;
    padding-bottom: 0.5rem;
    border-bottom: 2px double black;
}

ul {
    list-style-type: none;
    padding-left: 1.5em;
}

section > div > ul {
    padding-left: 0;
}

header {
    font-weight: bold;
}

.error {
    font-size: 150%;
    color: red;
}

hr {
    border: none;
}

a {
    color: black;
}
a:hover {
    background-color: #555;
    color: white;
}
